@model AzureImageGallery.Models.GalleryIndexModel

<div class="container body-content">
    <div class="gallery-content">
        @foreach(var image in Model.Images)
        {
            <div class="gallery-image">

            </div>
            <span>@image.Title</span>
            <ul>
            @foreach (var tag in image.Tags)
            {
                <li>
                    @tag.Description
                </li>

            }
            </ul>
        }
    </div>
</div>